<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738890747389-27ckfo36gmoiu2m97ircpkn39s4vtv4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738890747389-27ckfo36gmoiu2m97ircpkn39s4vtv4q</string>
	<key>API_KEY</key>
	<string>AIzaSyC4BQyVYYEXyCIJSRmQiJvItJ5AEMsvceU</string>
	<key>GCM_SENDER_ID</key>
	<string>738890747389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exslym.cryptoCoinsList</string>
	<key>PROJECT_ID</key>
	<string>crypto-list-app-exslym</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-list-app-exslym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738890747389:ios:b19efa52be0dacf856dd94</string>
</dict>
</plist>